.currency-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    width: 450px;
    height: 200px;
    border : 2px solid
}
.amount{
    margin-right: 10px;
    width: 80px;
    height: 25px;
}
.result{
   margin-right: 10px;
    width: 80px;
    height: 25px; 
}
.from-currency-option{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}
.to-currency-option{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}
.exchange-button{
    width: 80px;
    height: 30px;
    background-color: greenyellow;
    color: gray;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}